@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "open sans";
}

header{
    background-color: #fff;
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #06689F;
}

nav{
    background-color: #fff;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #06689F;
}

.btn{
    border-radius: 20px;
    border: 1px solid #06689F;
    padding: 10px 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 12px;
    background-color: #06689F;
    color: #fff;
    font-family: Nunito;
    cursor: pointer;
}

.btn:active{
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);
}

#headerCasa{
    width: 12rem;
}

#headerMeknes{
    width: 15rem;
}

#headerRabat{
    width: 7rem;
}

h1{
    text-align: center;
    margin: 0;
    padding: 30px;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #06689F;
    color: #fff;
}

.nodisp{
    display: none !important;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}

.table{
    border: 1px solid black;
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tables {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tables nav{
    width: 50%;
}

.tables div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin-bottom: 30px;
}

th{
    text-transform: uppercase;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
}

.input{
    flex-direction: column;
}

.input label{
    text-align: center;
    margin: 1.2vmin auto;
}

input[type='range']{
    width: 35vmin;
}

#genererLPForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#genererLPForm div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maxInput{
    width:5vmin;
    border-radius: 20px;
    border: 1px solid #06689F;
    padding: 2px 10px;
}

*:focus{
    outline: none;
}

.forms{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
